Repository HengYangDS/sage-kb: changes, and which pre-commit hooks are due for each by the changed paths.
All: mece-boundary-check, knowledge-validation, doc-format, link-check, architecture-check, index-check

mece-boundary-check:
  name: MECE Boundary Check
  entry: python tools/check_mece_boundaries.py
  language: python
  pass_filenames: true

knowledge-validation:
  name: Knowledge Base Validation
  entry: python tools/validate_knowledge.py
  language: python
  pass_filenames: false

doc-format:
  name: Document Format Check
  entry: python -m tools.dev_scripts.validate_format
  language: python
  pass_filenames: false

link-check:
  name: Link Checker
  entry: python -m tools.dev_scripts.check_links
  language: python
  pass_filenames: false

architecture-check:
  name: Architecture Check
  entry: python -m tools.dev_scripts.check_architecture
  language: python
  pass_filenames: false

index-check:
  name: Index Check
  entry: python -m tools.dev_scripts.generate_index --check
  language: python
  pass_filenames: false

fix: correct broken links and file name cases in ADR documents
  .context/decisions/ADR_0001_ARCHITECTURE.md
  .context/decisions/ADR_0002_SAGE_PROTOCOL.md
  .context/decisions/ADR_0003_TIMEOUT_HIERARCHY.md
  .context/decisions/ADR_0004_DEPENDENCY_INJECTION.md
  .context/decisions/ADR_0005_EVENT_BUS.md
  .context/decisions/ADR_0006_PROTOCOL_FIRST.md
  .context/decisions/ADR_0007_CONFIGURATION.md
  .context/decisions/ADR_0008_PLUGIN_SYSTEM.md
Due: doc-format, link-check, index-check

fix: correct file name cases in intelligence directory links
  .context/intelligence/calibration/PATTERNS.md
  .context/intelligence/optimization/OPTIMIZATIONS.md
  .context/intelligence/optimization/PERFORMANCE_TUNING.md
Due: doc-format, link-check, index-check

docs: improve SECRETS_MANAGEMENT.md and check_links.py script
  .knowledge/frameworks/security/SECRETS_MANAGEMENT.md
  .knowledge/guidelines/AI_COLLABORATION.md
  .knowledge/guidelines/CODE_STYLE.md
  .knowledge/guidelines/COGNITIVE.md
  .knowledge/guidelines/DOCUMENTATION.md
  .knowledge/guidelines/ENGINEERING.md
  .knowledge/guidelines/PLANNING.md
  .knowledge/guidelines/PYTHON.md
  .knowledge/guidelines/QUALITY.md
  .knowledge/guidelines/QUICK_START.md
  .knowledge/guidelines/SECURITY.md
  .knowledge/guidelines/SHELL.md
  .knowledge/guidelines/SQL.md
  .knowledge/guidelines/SUCCESS.md
  .knowledge/guidelines/TYPESCRIPT.md
  .knowledge/scripts/check_links.py
  .knowledge/scripts/check_markdown.py
Due: mece-boundary-check, knowledge-validation, link-check, index-check

fix: remove BOM from guidelines files, improve check_markdown.py Related section detection
  .knowledge/guidelines/AI_COLLABORATION.md
  .knowledge/guidelines/CODE_STYLE.md
  .knowledge/guidelines/COGNITIVE.md
  .knowledge/guidelines/DOCUMENTATION.md
  .knowledge/guidelines/ENGINEERING.md
  .knowledge/guidelines/INDEX.md
  .knowledge/guidelines/PLANNING.md
  .knowledge/guidelines/PYTHON.md
  .knowledge/guidelines/QUALITY.md
  .knowledge/guidelines/QUICK_START.md
  .knowledge/guidelines/SECURITY.md
  .knowledge/guidelines/SHELL.md
  .knowledge/guidelines/SQL.md
  .knowledge/guidelines/SUCCESS.md
  .knowledge/guidelines/TYPESCRIPT.md
  .knowledge/scenarios/INDEX.md
  .knowledge/scripts/check_markdown.py
Due: mece-boundary-check, knowledge-validation, link-check, index-check

refactor: improve MECE/SSOT compliance between .context and .knowledge
  .context/conventions/FOUR_LAYER_MODEL.md
  .context/intelligence/calibration/PATTERNS.md
  .context/intelligence/learning/COMMON_PITFALLS.md
  .context/intelligence/optimization/OPTIMIZATIONS.md
  .context/policies/TIMEOUT_HIERARCHY.md
  .knowledge/frameworks/design/FOUR_LAYER_PATTERN.md
  .knowledge/frameworks/design/INDEX.md
Due: mece-boundary-check, knowledge-validation, doc-format, link-check, index-check

update
  .context/overview/INDEX.md
  .context/policies/INDEX.md
Due: doc-format, link-check, index-check

docs: improve .context INDEX files
  .context/decisions/INDEX.md
  .context/intelligence/automation/INDEX.md
  .context/intelligence/calibration/INDEX.md
  .context/intelligence/learning/INDEX.md
  .context/intelligence/optimization/INDEX.md
Due: doc-format, link-check, index-check

fix: improve PRACTICE.md Related links and fix check_links.py Unicode output
  .context/intelligence/learning/CASES.md
  .knowledge/scripts/check_links.py
  .knowledge/templates/PRACTICE.md
Due: mece-boundary-check, knowledge-validation, doc-format, link-check, index-check

docs: add Table of Contents to COMMON_PITFALLS.md
  .context/intelligence/learning/COMMON_PITFALLS.md
Due: doc-format, link-check, index-check

fix: optimize .junie directory structure and documentation quality
  .junie/docs/guides/INDEX.md
  .junie/docs/mcp/INDEX.md
  .junie/docs/operations/INDEX.md
  .junie/docs/reference/INDEX.md
  .junie/docs/vision/INDEX.md
  .junie/generic/INDEX.md
  .junie/generic/QUICKREF.md
  .junie/project/GUIDELINES.md
  .junie/project/INDEX.md
Due: link-check, index-check

docs: add project vision and current state gap analysis
  .junie/project/QUICKREF.md
  docs/design/architecture/CURRENT_STATE.md
  docs/design/architecture/INDEX.md
  docs/design/evolution/INDEX.md
  docs/design/evolution/MILESTONES.md
  docs/design/evolution/VISION.md
Due: doc-format, link-check, index-check

docs: improve formatting and update references
  .context/conventions/FOUR_LAYER_MODEL.md
  .context/decisions/ADR_0001_ARCHITECTURE.md
  .context/decisions/ADR_0002_SAGE_PROTOCOL.md
  .context/decisions/ADR_0003_TIMEOUT_HIERARCHY.md
  .context/decisions/ADR_0007_CONFIGURATION.md
  .junie/README.md
  .junie/docs/operations/MAINTENANCE.md
  .junie/generic/QUICKREF.md
  .junie/guidelines.md
  .junie/project/INDEX.md
Due: doc-format, link-check, index-check

docs: convert ASCII diagrams to Mermaid and optimize QUICKREF.md
  .context/decisions/ADR_0008_PLUGIN_SYSTEM.md
  .context/intelligence/calibration/CALIBRATION.md
  .context/overview/PROJECT_OVERVIEW.md
  .context/policies/LOADING_CONFIGURATIONS.md
  .context/policies/MEMORY_SETTINGS.md
  .context/policies/PLUGIN_SETTINGS.md
  .context/policies/SERVICE_SETTINGS.md
  .context/policies/TIMEOUT_HIERARCHY.md
  .junie/project/QUICKREF.md
Due: doc-format, link-check, index-check

chore: update .context conventions and intelligence index
  .context/conventions/DIRECTORY_STRUCTURE.md
  .context/conventions/DOC_TEMPLATE.md
  .context/conventions/FOUR_LAYER_MODEL.md
  .context/intelligence/INDEX.md
Due: doc-format, link-check, index-check

update
  .context/conventions/DIRECTORY_STRUCTURE.md
  .context/conventions/FILE_STRUCTURE.md
Due: doc-format, link-check, index-check

update
  .context/conventions/FILE_STRUCTURE.md
  .context/decisions/ADR_0001_ARCHITECTURE.md
  .context/decisions/ADR_0008_PLUGIN_SYSTEM.md
  scripts/README.md
  scripts/add_metadata.py
  scripts/validate_knowledge.py
  tools/dev_scripts/__init__.py
  tools/dev_scripts/check_architecture.py
  tools/dev_scripts/check_links.py
  tools/dev_scripts/generate_index.py
  tools/dev_scripts/new_file.py
  tools/dev_scripts/setup_dev.py
  tools/dev_scripts/validate_format.py
  tools/hooks/__init__.py
  tools/hooks/post_commit.py
  tools/hooks/pre_push.py
Due: doc-format, link-check, index-check

refactor: reorganize scripts/ directory into MECE categories
  scripts/check/__init__.py
  scripts/check/validate_knowledge.py
  scripts/ci/__init__.py
  scripts/dev/__init__.py
  scripts/dev/add_metadata.py
  scripts/dev/check_architecture.py
  scripts/dev/check_links.py
  scripts/dev/generate_index.py
  scripts/dev/new_file.py
  scripts/dev/setup_dev.py
  scripts/dev/validate_format.py
  scripts/hooks/__init__.py
  scripts/hooks/post_commit.py
  scripts/hooks/pre_push.py
Due: none

docs: mark Phase 1 (scripts reorganization) as complete in CURRENT_STATE.md
  docs/design/architecture/CURRENT_STATE.md
Due: doc-format, link-check, index-check

Path conditions:
  mece-boundary-check: any of: ^\.knowledge/ and \.(md|markdown|mdown)$
  knowledge-validation: any of: ^\.knowledge/ and \.(md|markdown|mdown)$
  doc-format: any of: ^(content|docs|\.context)/ and \.(md|markdown|mdown)$
  link-check: any of: \.(md|markdown|mdown)$
  architecture-check: any of: ^src/ and \.py$
  index-check: any of: \.(md|markdown|mdown)$
